 /* //Estilo base principal  */
body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin:0;
    font-family: sans-serif;
}
/* contendor calculadora */
.calculator {
    width:350px ;
    background-color: #333333;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    overflow: hidden;
}
/* Dible pantalla */
.display-container {
    background-color: #2a2a2a;
    color: #ffffff;
    padding: 15px 20px 5px 20px;
}
/* Pantalla historial */
.calculator-history {
    height: 35px;
    text-align: right;
    font-size: 1rem;
    color: #a0a0a0;
    margin-bottom: 5px;
    overflow: hidden;
}
/* patalla resultado */
.calculator-screen {
    width: 100%;
    height: 60px;
    border: none;
    background-color: trasparent;
    color: #ffffff;
    font-size: 2.8rem;
    box-sizing: border-box;
    cursor: default;
    caret-color: transparent;
}
/* teclado */
.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    padding: 10px;
    background-color: #333333;
}
/* botones */
button {
    height: 60px;
    background-color: #555555;
    color:#ffffff;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}
button:hover {
    background-color: #666666;
}
.operator {
    background-color: #ff9500;
}
.operator:hover {
    background-color: #ffa520;
}
.all-clear {
    background-color: #d14949;
}
.all-clear:hover {
    background-color: #e05959;
}
.equal-sign {
    background-color: #007bff;
}
.equal-sign:hover {
    background-color: #0084ff;
}
.zero {
    grid-column: span 2;
}